.side-menu li{
    list-style: none;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 7px;
    font-size: 17px;
    margin-top: 25px;
}
.headers {
    display: flex;
    background-color: blueviolet;
}
.logout {
    position: absolute;
    right: 2%;
    top: 2.7%;
}
.header-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-content a{
    color: white;
    text-decoration: none;
}


.header-content .admin{
    font-size: 23px;
    margin-left: 30px;
}
.side-menu li a {
    text-decoration: none;
    color: white;
}
.table-content img {
    width: 200px;
    margin-left: 0;
    height: 119px;
}
.update-form img {
    width: 224px;
    margin-top: 20px;
    height: 134px;
}
.dashboard-content h1 {
    font-size: 27px;
    margin-top: 30px;
}

.dashboard-content h1 span{
    font-size: 30px;
    color: blueviolet;
}
.card-body img {
    width: 344px !important;
    height: 164px !important;
}
.card-content {
    display: flex;
}
.card-body{
    margin-left: 20px;
}
.card-body h1 {
    font-size: 29px;
    font-weight: 600;
}
.card-body p {
    font-size: 18px;
}
.card{
    border-radius: 8px;
}
.header-title {
    text-align: center;
}

.header-title h1  {
    background-color: blue;
    color: white;
    border-radius: 4px;
    padding: 9px 10px 9px 10px;
}
.header-title {
    margin-top: 77px;
    text-align: center;
}
.header-title h1 {
    background-color: #3737dd;
    color: white;
    margin-top: 20px;
    border-radius: 4px;
    padding: 9px 10px 9px 10px;
}
.header-title h1 a {
 text-decoration: none;
 color: white;
}
.assignment-content {
    margin-top: 30px;
}
.assignment-content img {
    width: 319px;
}
.assignment-content h1 {
    font-size: 34px;
    font-weight: 600;
}
.assignment-content p {
    font-size: 18px;
}
.assignment-body {
    margin: 27px;
}
.more-images {
    display: flex;
}
/* .more-images img {
    margin-left: 20px;
} */
.submit-content h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}
.submit-body {
    margin: 30px;
}
.card-body h2 {
    font-size: 22px;
    text-align: center;
    padding: 8px 10px 8px 10px;
    background-color: #3e8499;
    border-radius: 8px;
    color: white;
}
.card-body h2 a{
    text-decoration: none;
    color: white;
}
.result-body{
    text-align: center;
}
.result-body h1 {
    font-size: 29px;
    margin-bottom: 25px;
}
.result-body h1 span
{
    font-size: 34px;
    margin-bottom: 25px;
    color: blueviolet;
}
.result-body a {
    font-size: 19px;
    color: blue;
    margin-bottom: 20px;
}
.header h1 {
    margin-bottom: 40px;
}
.back-home {
    font-weight: 800;
}
li.current-url a {
    color: black;
}

li.current-url {
    background-color: white;
    border: 1px solid blueviolet;
}
.chosen-container {
    width: 100% !important;
}
.chosen-container-multi .chosen-choices {
    height: 39px !important;
    border: 0.5px solid #d1cbcb;
    border-radius: 4px;
}
.chosen-container-multi .chosen-choices li.search-field {
    display: none;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 11px !important;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url(chosen-sprite.png) -42px 1px no-repeat;
    font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 9px 22px 5px 5px !important;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgb(0 0 0 / 5%);
    color: #333;
    line-height: 13px;
    cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
    font-size: 16px !important;
    word-wrap: break-word;
}

.profile-detail h1 {
    margin: 30px;
    font-size: 28px;
    font-weight: 600;
}
.profile-body {
    margin: 32px;
}
.profile-body input {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #bfb1b1;
}